<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Black Lotus</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<header>
  <nav>
    <h2><a href="/">Black Lotus</a></h2>
    <div class="login">
        <a  href="#">Login</a>
    </div>
  </nav>
  <hr style="clear: both;">
</header>
<body>
  {{{body}}}
</body>
</html>