<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Black Lotus</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<header class="hero-head">
  <nav>
    <h2 class="title is-1"><a class="blackLotus" href="/">Black Lotus</a></h2>
  </nav>
  <hr style="clear: both;">
</header>
<body class="hero">
  {{{body}}}
</body>

<footer class="hero-foot">
  <div class="content has-text-centered">
    <strong>BlackLotus Encryptor</strong> by <a href="https://github.com/T-NAVe">Luca de Acha</a>. The source code is licensed
    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
    is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
  </div>
</footer>


</html>