<div class="hero-body">
    <h5 class="tittle is-5">If the results are not quite what you expected, check if you paste the info correctly and if the book you choose it's the same one you used to encrypt.</h5>
    <br>
    <div class="container is-fluid has-text-centered">
        <div class="notification is-light">
            <code>{{result}}</code>
        </div>
    </div>
</div>

