<div class="hero-body">
    <h5 class="tittle is-5">If the results are not quite what you expected, try another word, check if your spelling was correct and remove any simbol.</h5>
    <br>
    <div class="container is-fluid has-text-centered">
        <div class="notification is-light">
            <code>{{result}}</code>
        </div>
    </div>
</div>

